@import url(reset.css);


h1{
	color: chocolate;
}
header h2 {
	color: yellow;
}
.list-header {
	color: blue;
}
.text {
	color: firebrick;
}

#section-2 span {
	color: darkorange;
}

#section-2 h2 {
	color: darkviolet;
}

#section-2 p{
	color: deeppink;
}

#section-3 {
	color: greenyellow;
}

ul > li {
	color: red;
}
ul > li ~ li {
	color: green;
}

ul > li > ul > li {
	color: blue;
}

ul > li > ul > li ~ li {
	color: orange;
}

ul > li > ul > li > span {
	color: #a0f0fc;
}

ol > li {
	color: #4597f7;
}

ol > li ~ li {
	color: #5d5d5d;
}